# Ignore version control directories
.git/

# Ignore the target directory and its contents
target/

# Explicitly include the specific JAR file within the target directory
!target/newswebsite-0.0.1-SNAPSHOT.jar