# Ignore version control directories
.git/

# Ignore Maven build files and directories
.mvn/

# Ignore files not needed in the Docker image
*.log
*.tmp

# Do not ignore target directory or specific files if needed
!target/
